

/*Overall settings*/
html, body {
	font-size: 100%;
	max-height:75em;
}

#livesrch{
background:#FFFFFF;
z-index:1;}

#maincontent{
	/*position:fixed;
	top:20%;
	z-index:-1;*/
}
a{
	font-size:0.5em;
}
a:hover{
	color:#094CB3;
}
h4{
		font-size: 0.4em;
		margin-left:20%;

}
h5{
	font-size: 0.4em;
	float: right;
	clear:left;
}
img{
	height: 3em;
	width: auto;
	float:left;
}
.filterNav li{
	display: inline-block;
}
.filterNav a{
	font-size: 1em;
}
.movies h2{
	font-size:1em;
}

.movies h3{
	font-size:.85em;
}
.movies img{
	height:auto;
	max-height: 20em;
	max-width: 20em;
}
.details h2{
	font-size: 1em;
}
.details h3{
	font-size: .85em;
}
/* Below are Tablet and Desktop */
@media only screen and (min-width: 641px) {
a{
	font-size:1em;
	padding: 0.5em;
}
h4{
	font-size: 1.25em;
}

h5{
	font-size: 1.25em;

}
img{
	height: 4em;
	width: auto;
}
.movies h2{
	font-size:1.75em;
}

.movies h3{
	font-size:1.5em;
}
.details h2{
	font-size:1.75em;
}

.details h3{
	font-size:1.5em;
}
}

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 1025px) { /* screen max width is 1024px */


}






